# Anisha Parikh

## Research question/interests
My research question is what are the top 10 most remembered songs and the bottom 10 least remembered songs

In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#%matplotlib inline

# Some code to style plots

import matplotlib.pyplot as plt
import seaborn as sns


nintiesRecData = pd.read_csv("../data/raw/recognition_by_generation.csv")

nintiesRecData['avg_across_gen'] = (nintiesRecData['mean_millennial_recognition']*nintiesRecData['mean_gen_z_recognition'])/2 

nintiesRecData_sortedByMill = nintiesRecData.sort_values(by=['mean_millennial_recognition'])
nintiesRecData_sortedByMill= nintiesRecData_sortedByMill.drop('mean_gen_z_recognition', 1)
nintiesRecData_sortedByMill= nintiesRecData_sortedByMill.drop('avg_across_gen', 1)
nintiesRecData_sortedByMill = nintiesRecData_sortedByMill.reset_index(drop=True)

#nintiesRecData_sortedByZ = nintiesRecData.sort_values(by=['mean_gen_z_recognition'])
#nintiesRecData_sortedByAvg = nintiesRecData.sort_values(by=['avg_across_gen'])

nintiesRecData_sortedByMill
# sns.displot(nintiesRecData_sortedByMill)

C:\Users\anish\AppData\Local\Temp/ipykernel_7688/3227718337.py:19: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nintiesRecData_sortedByMill= nintiesRecData_sortedByMill.drop('mean_gen_z_recognition', 1)
C:\Users\anish\AppData\Local\Temp/ipykernel_7688/3227718337.py:20: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nintiesRecData_sortedByMill= nintiesRecData_sortedByMill.drop('avg_across_gen', 1)

               artist                     song  mean_millennial_recognition
0         Jesus Jones         Real, Real, Real                     0.043351
1             PM Dawn      I'd Die Without You                     0.048410
2      Tracie Spencer               This House                     0.049024
3           Tara Kemp           Hold You Tight                     0.050395
4        Taylor Dayne  Love Will Lead You Back                     0.054324
..                ...                      ...                          ...
339       Celine Dion      My Heart Will Go On                     0.974674
340          Lou Bega              Mambo No. 5                     0.982905
341  Spice Girls, The                  Wannabe                     0.983007
342              Cher                  Believe                     0.983381
343    Britney Spears     ..Baby One More Time                     0.991851

[344 rows x 3 columns]

In [47]:
# Seaborn provides built in datasets
#makeNewSortedTables()
#nintiesRecData_sortedByMill

In [24]:
# steps
# 1. remove table
# 2. create new column of avg between gen 
# 3. created new sheets in different orders